html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}

svg {
    height: 100%;
    width: 100%;
}

.cercleRouge {
    fill: red;
}

.elipseVerte {
    fill: lime;
}

@keyframes animRotation {
    0%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animRotation {
    stroke: blue;
    stroke-width: 0.3em;
    animation-name: animRotation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2.5s;
    transform-origin: center;
}
