html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

svg{
    width: 100%;
    margin: 0 auto;
    height: 99.7vh;
}

.cercleRouge{
    /*stroke: blue;*/
    stroke-width: 0.5em;
    fill: red;
}

.elipseVerte{
    fill: lime;
}
